<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Fighter List <i class="fas fa-skull-crossbones"></i></h1>
    <div class="d-flex justify-content-around">
      <% @fighters.each do |fighter| %>
      <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= fighter.name %></h5>
          <p class="card-text">Health: <%= fighter.health %> <br>Power: <%= fighter.power %> </p>
          <div class="mt-5 btn btn-secondary">
            <%= link_to edit_fighter_path(fighter), style: 'color:#F4F4F4' do %>
            <i class="fas fa-tools"> Edit </i>
            <% end %>
          </div>
          <div class="mt-5 btn btn-secondary">
            <%= link_to fighter_path(fighter), method: :delete, data: { confirm: "Are you sure?" }, style: 'color:#F4F4F4' do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to new_fighter_path, style: 'color:#F4F4F4' do %>
      <div class="mt-5 btn btn-success">
        <i class="fa fa-plus"> New fighter</i>
      </div>
    <% end %>
    <%= link_to new_fight_path, style: 'color:#F4F4F4' do %>
      <div class="mt-5 btn btn-danger">
        <i class="fa fa-plus"> New fight</i>
      </div>
    <% end %>
  </div>
</div>
