<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Fights history <i class="fas fa-skull-crossbones"></i></h1>
    <%= link_to new_fight_path do %>
      <div class="mt-5 btn btn-danger"> New Fight </div>
    <% end %>
    <div class="d-flex flex-wrap justify-content-between">
      <% @fights.each do |fight| %>
        <%= link_to fight_path(fight), style: 'color:#000000' do %>
          <div class="card mt-5" style="width: 18rem;">
            <div class="card-img-top" >
              <%= cl_image_tag fight.player.photo, height: 300, width: 250, crop: :fill %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= fight.player.name %>
              VS <%= fight.opponent.name %>
              </h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
