<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <div class="mb-5">
      <h1><i class="fas fa-skull-crossbones"></i> Choose the two Opponents <i class="fas fa-skull-crossbones"></i></h1>
      <h4> Prepare to fight !</h4>
    </div>
    <%= simple_form_for [@fight] do |f| %>
    <div class="border rounded mt-5 p-5">
      <%= f.input :player, collection: @fighters, label: "You" %>
      <%= f.input :player_weapon, collection: @weapons, label: "Your weapon", default: @weapons.first %>
    </div>
    <div class="border rounded mt-5 p-5">
      <%= f.input :opponent, collection: @fighters %>
      <%= f.input :opponent_weapon, collection: @weapons, label: "Opponent weapon", default: @weapons.first %>
    </div>
    <%= f.submit "Fight", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <div class="mb-5">
      <h1><i class="fas fa-dumbbell"></i> Fighter Academy <i class="fas fa-dumbbell"></i></h1>
      <div class="mt-5">
        <h4>Create your own champion and join the fight !</h4>
      </div>
    </div>
    <%= link_to new_fighter_path do %>
    <div class="btn btn-success">Create a Fighter</div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="mt-5 p5 text-center">
    <%= link_to root_path do %>
      <div class="btn btn-secondary">Home</div>
    <% end %>
    <%= link_to fights_path do %>
      <div class="btn btn-secondary">Back</div>
    <% end %>
  </div>
</div>
